main {
	background-color: var(--mylightgray);
	color: var(--mydarkblue);
	display: grid;
	place-content: center;
	grid-template-columns: 1fr 1fr;
	height: 30vh;
}

.toTopButton {
	position: fixed;
	right: 0;
	bottom: 0;
	height: 100px;
	width: 100px;
	background-color: var(--mydarkblue);
	margin-right: 4rem;
	margin-bottom: 4rem;
	color: var(--mylightgray);
	display: grid;
	place-content: center;
	border-radius: 10px;
	z-index: 100;
}

.infoContainer {
	width: 90%; 
	display: grid;
	place-content: center;
	grid-template-rows: 1fr 1fr;
	margin-bottom: -20rem;
	margin-left: 10rem;
	z-index: 100;
	animation: fadeInUp ease 1s;
}

.infoTitle {
	font-size: 4rem;
	font-weight: bold;
	margin-top: 7.2rem;
	line-height: 1.2;
}

.infoDesc {
	font-weight: lighter;
	font-size: 1.3rem;
	width: 88%;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 80px, 0);
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translate3d(80px, 0, 0);
	}
	100% {
		opacity: 1;
	}
}

.phoneImage {
	margin-right: 10rem;
	display: grid;
	place-content: center;
	margin-bottom: -40rem;
	animation: fadeInLeft ease 1s;
}


.demoSectionTitle {
	display: grid;
	place-content: center;
}

.demoSectionTitle > h2 {
	color: var(--mydarkblue);
	text-transform: uppercase;
	font-size: 5rem;
	font-weight: bold;
	margin: 0rem;
}

.video {
	display: grid;
	place-content: center;
	z-index: 90;
}

.spacer {
	aspect-ratio: 960/300;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url("../images/wave-haikei-gray.svg");
}

.spacer2 {
	aspect-ratio: 960/50;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url("../images/wave-haikei-red.svg");
}

.spacer3 {
	aspect-ratio: 960/100;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url("../images/wave-haikei-red2.svg");
}

section {
	min-height: 50vh;
}

.sectionTitle {
	display: grid;
	place-content: center;
	color: var(--mydarkblue);
}

.sectionTitle > h2 {
	font-size: 5rem;
	margin-top: 1rem;
	margin-bottom: 3rem;
	font-weight: bold;
	letter-spacing: 2px;
}

.sectionTitle2 {
	margin-top: 1rem;
	margin-left: 15rem;
	display: flex;
	justify-content: flex-start;
}
.sectionTitle2 > h2 {
	width: 40%;
	margin-bottom: 0.5rem;
	font-size: 2rem;
	font-weight: lighter;
	text-align: center;
	color: var(--mylightgray);
}

.sectionTitle3 {
	margin-right: 15rem;
	display: flex;
	justify-content: flex-end;
}
.sectionTitle3 > h2 {
	width: 25%;
	margin-top: 0rem;
	margin-bottom: 0.5rem;
	font-size: 2rem;
	text-align: center;
	font-weight: lighter;
}


::selection {
	background-color: lightgray;
}

.problemMain {
	margin-top: 2rem;
	padding-left: 10rem;
	padding-right: 10rem;
	display: flex;
	justify-content: center;
	color: var(--mydarkblue);
}

.problemCard {
	padding-left: 1rem;
	padding-right: 1rem;
	width: 350px;
	height: 600px;
	margin-left: 4rem;
	margin-right: 4rem;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.1) 0px 0px 0px 1px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	transition: all 0.3s ease-in-out;
}

.problemCard:hover {
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.5) 0px 0px 0px 1px;
}

.skullIcon, .timerIcon {
	display: grid;
	place-content: center;
}

.problemText {
	display: grid;
	place-content: center;
	text-align: center;
	font-size: 1.1rem;
}



.solutionMain {
	margin-top: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.solutionCard {
	width: 70%;
	margin-bottom: 2rem;
	background-color: var(--mylightgray);
	color: var(--mydarkblue);
	border-radius: 10px;
	padding: 2rem;
	display: grid;
	place-content: center;
	text-align: left;
	font-size: 1.3rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.solutionCard > h4 {
	margin: 0;
	font-size: 2rem;
}

.solutionCard > p {
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

.steps {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.step {
	width: 300px;
	height: 300px;
	background-color: var(--mylightgray);
	border-radius: 8px;
	margin-left: 6rem;
	margin-right: 6rem;
	color: var(--mydarkblue);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.downloadText, .fitbitText, .checkmarkText {
	font-size: 1.2rem;
}






.tutorialSection {
	min-height: 80vh;
	color: var(--mydarkblue);
	margin-bottom: 10rem;
}

.tutorialTitle {
	font-size: 3rem;
	font-weight: bold;
	margin-left: 10rem;
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.tutorialMain {
	display: grid;
	grid-template-rows: 1fr 0.1fr 1fr;
	padding-left: 15rem;
	padding-right: 15rem;
}

.tutorialVideo {
	text-align: center;
}

.tutorialVideo > h3 {
	font-size: 2rem;
	margin-bottom: 0rem;
	letter-spacing: 2px;
}

.demoOr {
	display: grid;
	place-content: center;
	font-size: 5rem;
	font-weight: bold;
	color: var(--mydarkred);
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.tutorialInstructions {
	text-align: center;
}

.tutorialInstructions > h3 {
	font-size: 2rem;
	margin: 0rem;
	letter-spacing: 2px;
}

.tutorialInstructions > ol {
	text-align: left;
	font-size: 1.3rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 0rem;
}

.demoSection {
	background-color: var(--mydarkgray);
	height: 80vh;
}

.demoMain {
	display: grid;
	height: 100%;
}

.demoTitle {
	display: grid;
	place-content: center;
}

.demoTitle > h2 {
	font-size: 5rem;
	font-weight: bold;
	letter-spacing: 3px;
	color: var(--mydarkblue);
	margin: 0;
}

.citationSection {
	height: 20vh;
	padding-left: 15rem;
	padding-right: 15rem;
}

.citationMain {
	display: grid;
	place-content: center;
	height: 100%;
}

.citationTitle {
	display: grid;
	place-content: center;
}

.citationTitle > h2 {
	font-size: 5rem;
	font-weight: bold;
	letter-spacing: 3px;
	color: var(--mydarkblue);
	margin: 0;
}

.citationMain ul  {
	font-size: 1.2rem;
}


footer {
	min-height: 20vh;
	text-align: center;
	background-color: var(--mydarkblue);
	color: var(--mylightgray);
	font-size: 1.3rem;
	display: grid;
	place-content: center;
}